<!DOCTYPE html>
<html>
<title>Website Idea</title>
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
    
  <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
      heightStyle: "content",
    });
  } );
  </script>
    
    
<body>
    
   
<script src="annyang.js"></script>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar w3-white w3-wide w3-padding-8 w3-card-2">
    <li>
      <a href="#home" class="w3-margin-left"><b>Zulu</b>Expedia</a>

    <!-- Float links to the right. Hide them on small screens -->
    <li class="w3-right w3-hide-small">
      <a href="#hotels" class="w3-left">Hotels</a>
      <a href="#FLights" class="w3-left">Flights</a>
      <a href="events" class="w3-left w3-margin-right">Events</a>
    
    </ul>
    </div>
    
    
    <head>
<!--
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
-->




<head/>
    
    <head/>
    
<style> 
          .main {padding-top: 200px}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
    background-color: lightgray;
}
    
    #fgb  {
        padding: 30px;
        background-color:white;
        border-radius: 10px;
        width:40%;
        opacity: 0.7;
        margin-left:90px;
        margin-bottom:80px;

    }
    
    
    #accordion {
        position: absolute;
        text-align:center;
        margin-top:5px;
        left:0px;
        right:0px;
        background-color:white
    }
    
    #accordion .ui-accordion-content{
        background-color:white;
        border-color:white
    }
        
    
        
        
        
        
        
        
        
    }
    button.accordion {
    background-color: darkgray;
    
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:80%;
    border: none;
    outline: none;
    transition:0.;
    text-align: center;
    border-radius:15px;
    
}


button.accordion.active, button.accordion:hover {
    background-color: #DEDEDE;
}


div.panel {
  
     display: none;
}
    div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
    
    
    
    
    #fname {
       opacity: 1
        
    }
    body {
        background-image:url("Splash-and-Save-Unbelievable-Deals-on-Water-Fun-Vacations-5e0175df544541199d7f7d3ce3ad6875.jpg");
        background-repeat: no-repeat;
        background-attachment: absolute;
        background-position:center ;
        background-size:88%;
        background-position: absolute;
        margin-top:100px;
        
    }
    
    .central {
        
       display: inline-block;
        vertical-align: middle;
            
        
        
    }
    
    #Deals{
        
        text-align:center;
    }
 
    
    
    
    
    </style>
</head>
<body>
    
<div id="fgb" class="central" >
<form action="/ean" method="post">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <div><input class="bob" type="text" placeholder="First Name" id="fname1" name="fname">
  <input class="bob" type="text" placeholder="Last Name" id="lname1" name="lname"></div>
      <input class="bob" type="text" placeholder="City" id="fname3" name="city" >
  <input class="bob" type="text"placeholder="Address" id="lname4" name="address">
<!--
    <div>
        <div>Arriving</div>
        <select id=A_Hour> <option>Hour  </option> <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option> <option>7</option> <option>8</option> <option>9</option> <option>10</option> <option>11</option> <option>12</option> </select> </div>
    
     <div> <select id=A_Min> <option>Minutes  </option> <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option> <option>7</option> <option>8</option> <option>9</option> <option>10</option> <option>11</option> <option>12</option> </select> </div>
-->
    
<!--
    <div>Departing</div>
    <select id="D Hour"> <option>Hour  </option> <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option> <option>7</option> <option>8</option> <option>9</option> <option>10</option> <option>11</option> <option>12</option> </select> </div>
    
     <div> <select id="D Min"> <option>Minutes  </option> <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option> <option>7</option> <option>8</option> <option>9</option> <option>10</option> <option>11</option> <option>12</option> </select> </div>
-->
    
        
  <div>Arriving: <input class="bob" type="date" placeholder="Arriving" id="arriving" name="arriving"></div>
    <div>Departing: <input class="bob" type="date" placeholder="Departing" id="departing" name="departing"></div>

<select id="Adults" name="adults"> <option># Adults</option> <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option> </select>

<select id="children" name="children"> <option># Children </option> <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option> </select>
  <input type="submit" value="Submit">
        
    </form>
    </div>
    </body>
   
    
   
<div id="accordion">
  <h3>Hotels</h3>
  <div id="hotels">
    <p></p>
  </div>
  <h3>Flights</h3>
  <div>
    <p>
    </p>
  </div>
  <h3>Events</h3>
  <div>
    <p>
   At the moment there are no events available.  Please give us your email so we can notify you.
    </p>
      <form> 
          <div id="fgb" class="central"> <input type=text placeholder="Email Adress">
          </div>
    </form>
  
  </div>
 
</div>
    </body>
       
    <script>
 //annyang.start();
var start_listening_button = document.getElementById("start_listening");
 function Say_Hello(){
     alert("Hello how may I help you")
 }
  function setAdults(num){
       var vals = {
          "won": 1,
          "to": 2,
          "too": 2,
          "3": 3,
          "for": 4,
          "5": 5,
          "6": 6,
       }
    $("#Adults").val(vals[num]||num).change()
}

  function setChildren(num){
     var vals = {
        "won": 1,
        "to": 2,
        "too": 2,
        "3": 3,
        "for": 4,
        "5": 5,
        "6": 6,
       }
    $("#children").val(vals[num]||num).change()
}

        
 $(document).ready(function(){ annyang.start() })  
 function typefirstname(first){
             
         
  $("#fname1").val(first)
        }
function hi_(){
    alert("Hi Jack")
}
      

  function speak(){
    alert("Hi Jack")
  }
    

 function typelastname(last){
             
         
  $("#lname1").val(last)
            
        
}
        

 function typeCity(City){
             
         
  $("#fname3").val(City)
            
        
}    

// function typeflyingto(flyingto){
//             
//         
//  $("#lname4").val(Address)
//  
//  
//            
//        
//}   
//        

// function typeleavingwhen(leavingwhen){
//             
//         
//  $("#lname5").val(Departing)
//  
//  
//            
//        
//}          
  
  function process_date(date){
    var months = {
      "January": "01",
      "February": "02",
      "March": "03",
      "April": "04", 
      "May": "05",
      "June": "06",
      "July": "07",
      "August": "08",
      "September": "09",
      "October": "10",
      "November": "11",
      "December": "12",
    }

    var m = date.match(/(\w+) (\d+)(st|nd|rd|th)/)
    var day = m[2]
    while(day.length < 2){
      day = "0" + day
    }
    if(m && months[m[1]]){
      return `2017-${months[m[1]]}-${day}`
    }
  } 

  function departing(date){
    $("#departing").val(process_date(date))
  }

  function arriving(date){
    $("#arriving").val(process_date(date)) 
  }

  function submit_form(){
    $("form").submit()
  }

        var commands= {
            'hi': hi_,
             'Hello': Say_Hello,
            'first *first':typefirstname,
            'last *last':typelastname,
            "adults *num": setAdults,
            "children *num": setChildren,
             'City *City':typeCity,
             "departing *date": departing,
             "arriving *date": arriving,
             "submit": submit_form,
//            'Address *Address':typeAddress,
//            'Departing *Departing':typeDeparting,
        };
  // Add our commands to annyang
  annyang.addCommands(commands);

  $("form").submit(function(e){
    e.preventDefault()
    console.log("submit")
    $("#hotels").html("<p>...</p>")
    $.post("/ean", $(this).serialize())
      .then(function(data){
        $("#hotels").empty()
        if(!data){ return }

        html_string = "<table><tr><th>Name</th><th>About</th><th>Price Range</th>"
        data.forEach((hotel) => { html_string += `<tr><td>${hotel.name}</td><td>${hotel.shortDescription.replace(/^&lt;p&gt;&lt;b&gt;Property Location&lt;\/b&gt; &lt;br \/&gt;/,"") }...</td><td>$${hotel.lowRate.toFixed(2)}-$${hotel.highRate.toFixed(2)}</td></tr>` })
        html_string += "</table>"
        $("#hotels").html(html_string)
      })
  })




</script>
    </html>
        
        
