<!DOCTYPE html>
<html>
<title>Website Idea</title>
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
    
  <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    
    
<body>
    
   
<script src="annyang.js"></script>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar w3-white w3-wide w3-padding-8 w3-card-2">
    <li>
      <a href="#home" class="w3-margin-left"><b>Zulu</b>Expedia</a>
    </li>
    <!-- Float links to the right. Hide them on small screens -->
    <li class="w3-right w3-hide-small">
      <a href="#hotels" class="w3-left">Hotels</a>
      <a href="#FLights" class="w3-left">Flights</a>
      <a href="events" class="w3-left w3-margin-right">Events</a>
    </li>
    </ul>
    </div>
    
    
    <head>
       <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>$(document).ready(function(){ $( ".accordion" ).accordion(); } )</script>



<head/>
    
    <head/>
    
<style> 
          .main {padding-top: 200px}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
    background-color: lightgray;
}
    
    #fgb  {
        padding: 30px;
        background-color:white;
        border-radius: 10px;
        width:40%;
        opacity: 0.7;
        margin-left:90px;
        margin-bottom:80px;

    }
    
    #tyac {
        position: absolute;
        text-align:center;
        margin-top:500px;
        left:0px;
        right:0px;
        
    
        
        
        
        
        
        
        
    }
    button.accordion {
    background-color: darkgray;
    
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:80%;
    border: none;
    outline: none;
    transition: 5s;
    text-align: center;
    border-radius:15px;
    
}


button.accordion.active, button.accordion:hover {
/*    background-color: bisque;*/
}


/*
div.panel {
  
    background-color: whitesmoke;
    display: none;
*/
}
    
    
    
    
    
    #fname {
       opacity: 1
        
    }
    body {
        background-image:url("Splash-and-Save-Unbelievable-Deals-on-Water-Fun-Vacations-5e0175df544541199d7f7d3ce3ad6875.jpg");
        background-repeat: no-repeat;
        background-attachment: absolute;
        background-position:center ;
        background-size:88%;
        background-position: absolute;
        margin-top:100px;
        
    }
    
    .central {
        
       display: inline-block;
        vertical-align: middle;
            
        
        
    }
 
    
    
    
    
    </style>
</head>
<body>
    
<div id="fgb" class="central" >
<form>
  <div><input class="bob" type="text" placeholder="First Name" id="fname1" name="fname1">
  <input class="bob" type="text" placeholder="Last Name" id="lname1" name="lname2"></div>
      <input class="bob" type="text" placeholder="City" id="fname3" name="fname3" >
  <input class="bob" type="text"placeholder="Address" id="lname4" name="lname4">
    <div>
  <input class="bob" type="text" placeholder="Arriving" id="lname5" name="lname5">
    <input class="bob" type="text" placeholder="Departing" id="lname6" name="lname6"></div>

<select id=Adults> <option># Adults</option> <option value="won">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option>5</option> <option>6</option> </select>

<select> <option># Childern </option> <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option> </select>
    </form>
    </div>
    </body>
   
    
    <body>
    <div id="tyac" class="central">   
     <h1>Hotels</h1>
    <div class="uganda accordion">
    <button class="accordion">Asia</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at consectetur dolor. Praesent ultrices porttitor lacus, non tristique ante eleifend a. Pellentesque semper urna sit amet libero vulputate, eget egestas mauris cursus. Integer et eros tempus, fringilla sapien vel, ultrices metus. Maecenas blandit lobortis metus at bibendum. Nulla in nisl lectus. Vestibulum sagittis mi ut magna imperdiet, in consectetur velit blandit. Etiam posuere fringilla venenatis. Nunc pharetra ultrices lacus, quis tincidunt ligula mollis at. Aliquam a iaculis libero, ac hendrerit dolor. Nunc ut tempus mi, vel dapibus sem.</p>
</div>

<button class="accordion">Africa</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">America</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>
<button class="accordion">India</button>
<div class="panel">
  <p>Lorem ipsum...</p>
        </div>
    </div>
        </div>
    </body>
       
    <script>
 //annyang.start();
var start_listening_button = document.getElementById("start_listening");
 function Say_Hello(){
     alert("Hello how may I help you")
 }
         function setAdults(num){
             alert(num)
    $("#Adults").val(num).change()
}

        
 $(document).ready(function(){ annyang.start() })  
 function typefirstname(first){
             
         
  $("#fname1").val(first)
        }
function hi_(){
    alert("Hi Jack")
}
      

  function speak(){
    alert("Hi Jack")
  }
    
        $(document).ready(function(){ annyang.start() })  
 function typelastname(last){
             
         
  $("#lname1").val(last)
            
        
}
        
         $(document).ready(function(){ annyang.start() })  
 function typeCity(City){
             
         
  $("#fname3").val(City)
            
        
}    
        $(document).ready(function(){ annyang.start() })  
 function typeflyingto(flyingto){
             
         
  $("#lname4").val(Address)
            
        
}   
          
        var commands= {
            'hi': hi_,
             'Hello': Say_Hello,
            'first *first':typefirstname,
            'last *last':typelastname,
            "adults *num": setAdults,
             'City *City':typeCity,
//            'Address *Address':typeAddress,
        };
  // Add our commands to annyang
  annyang.addCommands(commands);


//start_listening_button.addEventListener("click", function(event) { 
//	annyang.start()
//});
</script>
    
</html>
